# syslinux.cfg — BIOS boot configuration for Arch Custom ISO

UI /syslinux/libalogo.c32
TIMEOUT 50
PROMPT 1
DEFAULT arch

LABEL arch
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archiso_arch=x86_64

LABEL archfallback
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/x86_64/initramfs-linux-fallback.img
    APPEND archisobasedir=arch archiso_arch=x86_64
